{% extends 'base.html' %}

{% block content %}


{% if form %}
<form action="" method="post">
    {% csrf_token %}
    Bid Number: {{ form.bid_number }}<br/>
    First Name: {{ form.first_name }}<br/>
    Last Name: {{ form.last_name }}<br/>
    <input type="submit" value="Search for invoice" id="submit" />
</form>
{% endif %}

{% if invoices %}
    {% for invoice in invoices %}
        {% include 'partials/summary_invoice_display.html' with invoice=invoice %}<br/>
        <a href="{% url 'invoice_info' invoice.id %}">Display Invoice Page</a>
    {% endfor %}
{% endif %}

{% if invoice %}

        {% include 'partials/summary_invoice_display.html' with invoice=invoice %}<br/>
        <a href="{% url 'invoice_info' invoice.id %}">Display Invoice Page</a>

{% endif %}









{% endblock %}