{% extends 'base.html' %}

{% block content %}

{% if form %}
<div class="centered-text">
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Get Invoices" id="submit">
    </form>
</div>
{% endif %}


{% if year %}
    <div class="centered-text">
        <h2>Invoices for {{ year }}</h2>
    </div>
{% endif %}

<table border="1px solid" class="centered_list">
    <tr>
        <th>Invoice ID</th>
        <th>Merged Invoice</th>
        <th>Total Invoice Amount</th>
        <th>Item Record ID</th>
        <th>Invoice For</th>
        <th>Paid For By</th>
        <th>Invoice Date</th>
        <th>Paid?</th>
        <th>Payment Type</th>
    </tr>
{% for invoice in invoices %}
    <tr>
        <td>
            {{ invoice.id }}
        </td>
        <td>
            {% if invoice.merged_invoice %}
                <a href="{% url 'merged_invoice_info' invoice.merged_invoice_id %}">{{ invoice.merged_invoice }}</a>
            {% endif %}
        </td>
        <td>
            <a href="{% url 'invoice_details' invoice.id %}">{{ invoice.total_amount }}</a>
        </td>
        <td>
            {% for item in invoice.items.all %}
                <a href="{% url 'item_detail' item.id %}">{{ item.item_number }}</a><br/>
                ({{ item.description }})<br/>
            {% endfor %}
        </td>
        <td>
            {% if invoice.attendee %}
            <a href="{% url 'attendee_info' invoice.attendee.id %}">{{ invoice.attendee.first_name }} {{ invoice.attendee.last_name }}</a><br/>
            (Bidder No. {{ invoice.attendee.bid_number }})
            {% endif %}
        </td>
        <td>
            {{ invoice.paid_for_by}}
        </td>
        <td>
            {{ invoice.invoice_date }}
        </td>
        <td>
            {{ invoice.paid_for_by|yesno:"yes,no" }}
        </td>
        <td>
            {{ invoice.payment_type }}
        </td>
        <td>
            <a href="{% url 'update_invoice' invoice.id %}"><button type="button" id="submit">Update</button></a>
        </td>
        <td>
            <div class="confirm">
                <a href="{% url 'delete_invoice' invoice.id %}"><button type="button" id="submit">Delete</button></a>
            </div>
        </td>
    </tr>
{% endfor %}
</table>


{% include 'partials/confirm-js.html' %}

{% endblock %}
