{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>



<form method="post" action="">
    {% csrf_token %}

    Invoice A: {{ form.invoices }}<br/><br/>

    <input id="submit" type="submit" value="Merge Invoices"/>
</form>



{% if new_invoice %}
<p>
    Merged invoice successfully created, containing the following invoices:<br/>
    {% for invoice in new_invoice.invoices.all %}
        {{ invoice }}<br/>
    {% endfor %}
</p>
{% endif %}





{% endblock content %}

