{% extends 'base.html' %}

{% block content %}

<div class="merged_invoice-header">
<div class="logo">
    <img src="{{ STATIC_URL}}wcvlogo.png" />
</div>

<div class="merged_invoice-date">
    Annual Auction {{ merged_invoice.year }}<br/>
    {{ merged_invoice.invoice_date }}
</div>
</div>


<div class="merged_invoice-body">
    <div class="merged_invoice-number">
        merged_invoice Number: {{ merged_invoice.id }}
    </div>
<!---
    <div class="bidder-info">
        Bid Number: {{ merged_invoice.attendee.bid_number }} ({{ merged_invoice.attendee }})
    </div>
-->
    <div class="item-list-header">
        <div class="item-number-header">
            Item Number
        </div>
        <div class="item-description-header">
            Item Description
        </div>
        <div class="item-price-header">
            Price
        </div>
    </div>
    <br/>
    <div class="item-list-container">
        {% for invoice in merged_invoice.invoices.all %}
            {% for item in invoice.items.all %}
                <div class="item-number">
                    {{ item.item_number }}
                </div>

                <div class="item-description">
                    {{ item }}
                </div>

                <div class="item-price">
                    {{ item.selling_price }}
                </div>
                <br/>
            {% endfor %}
        {% endfor %}
        <br/>
    </div>

        <div class="merged_invoice-total">
            merged_invoice Total
            ${{ merged_invoice.total_amount }}
        </div>

<!---
        <div class="merged_invoiced-to">
            Sold to:
            {{ merged_invoice.paid_for_by }}
        </div>

        <br/><br/><br/>

        <div class="payment-method">
            Payment Method:  {{ merged_invoice.payment_type }}
        </div>
-->
        <br/><br/><br/>
        <div class="thank-you">
            Thank you for supporting the Wildlife Center of Virginia!
        </div>

</div>





<form action="{% url 'update_merged_invoice' merged_invoice.id %}" method="get">
    {% csrf_token %}
    <input type="hidden" value="{{ merged_invoice }}" name="merged_invoice"/>
    <input type="submit" value="Update merged_invoice" name="update_merged_invoice" id="submit" />
</form>


<!---
    <table border="1px solid">
        <tr>
            <th>merged_invoice For</th>
            <td>{{ merged_invoice.attendee }}</td>
        </tr>
        <tr>
            <th>Items</th>
            <td>
                {% for item in merged_invoice.items.all %}
                    {{ item }}<br/>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Paid For By:</th>
            <td>{{ merged_invoice.paid_for_by }}</td>
        </tr>
        <tr>
            <th>Total merged_invoice Amount</th>
            <td>{{ merged_invoice.total_amount}}</td>
        </tr>
        <tr>
            <th>merged_invoice Date</th>
            <td>{{ merged_invoice.merged_invoice_date }}</td>
        </tr>
        <tr>
            <th>Paid?</th>
            <td>{{ merged_invoice.paid_for_by|yesno:"yes,no" }}</td>
        </tr>
        <tr>
            <th>Payment Type</th>
            <td>{{ merged_invoice.payment_type }}</td>
        </tr>
    </table>
-->


{% if merged_invoice.paid_for_by %}
    <img src="{{ STATIC_URL }}jTxEbrB8c.png" height="150" width="150"/>
{% endif %}


{% if error %}

No Attendee information found for attendee with ID {{ id }}

{% endif %}


{% endblock %}








