{% extends 'base.html' %}

{% block content %}

{% if form %}
<div class="centered-text">
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Get Invoices" id="submit">
    </form>
</div>
{% endif %}


{% if year %}
    <div class="centered-text">
        <h2>Invoices for {{ year }}</h2>
    </div>
{% endif %}

<table border="1px solid" class="centered_list">
    <tr>
        <th>Merged Invoice ID</th>
        <th>Total Invoice Amount</th>
        <th>Invoices</th>
        <th>Paid For By</th>
        <th>Invoice Date</th>
        <th>Paid?</th>
        <th>Payment Type</th>
    </tr>
{% for merged_invoice in merged_invoices %}
    <tr>
        <td>
            {{ merged_invoice.id }}
        </td>
        <td>
            <a href="{% url 'merged_invoice_info' merged_invoice.id %}">{{ merged_invoice.total_amount }}</a>
        </td>
        <td>
            {% for invoice in merged_invoice.invoices.all %}
                <a href="{% url 'invoice_info' invoice.id %}">{{ invoice }}</a><br/>
            {% endfor %}
        </td>
        <td>
            {{ merged_invoice.paid_for_by}}
        </td>
        <td>
            {{ merged_invoice.invoice_date }}
        </td>
        <td>
            {{ merged_invoice.paid_for_by|yesno:"yes,no" }}
        </td>
        <td>
            {{ merged_invoice.payment_type }}
        </td>
        <td>
            <a href="{% url 'update_merged_invoice' merged_invoice.id %}"><button type="button" id="submit">Update</button></a>
        </td>
        <td>
            <a href="{% url 'delete_merged_invoice' merged_invoice.id %}"><button type="button" id="submit">Delete</button></a>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}




