{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>


** NOTE: This will remove all items from Invoice A and add them to Invoice B. It will not modify Invoice A other than that, so that invoice will still belong to the guest it currently belongs to.<br/>


<form method="post" action="">
{% csrf_token %}

Invoice A: {{ form.invoices }}<br/><br/>

<input type="submit" value="Merge Invoices"/>
</form>



{% if new_invoice %}
<p>
    {% for invoice in new_invoice.invoices.all %}
        {{ invoice }}<br/>
        {% for item in invoice.items.all %}
            {{ item }}<br/>
        {% endfor %}
        <br/>
    {% endfor %}
</p>
{% endif %}





{% endblock content %}

