{% extends 'base.html' %}

{% block content %}
<div class="noPrint">
{% if table %}
    TABLE: {{ table }}
{% endif %}
    <a href="#" id="print">Print this page!</a>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
$('#print').click(function () {
  $('.body-container').removeClass('body-container');
  window.print();
  return false;})</script>

{% if form %}
    <div class="noPrint">
        <form action="" method="post">
            {% csrf_token %}
                {{ form.table_assignment }}
            <input type="submit" value="Search for this table" id="submit"/>
        </form>
    </div>
{% endif %}
</div>


    {% for invoice in invoices %}

    {% include 'partials/invoice_display.html' with invoice=invoice %}
    <div class="page-break"></div>
{% endfor %}





{% if error %}

No Attendee information found for attendee with ID {{ id }}

{% endif %}


{% endblock %}








