{% extends 'base.html' %}

{% block content %}

{% if form %}
<form action="" method="post">
{% csrf_token %}
    {{ form.table_assignment }}
<input type="submit" value="Search for this table"/>
</form>
{% endif %}
    {% for invoice in invoices %}

    <table border="1px solid">

        <tr>
            <th>Bill To:</th>
            <td>{{ invoice.bill_to.first_name }} {{ invoice.bill_to.last_name }}</td>
        </tr>
        <tr>
            <th>Paid For By:</th>
            <td>{{ invoice.paid_for_by }}</td>
        </tr>
        <tr>
            <th>Total Invoice Amount</th>
            <td>{{ invoice.total_amount}}</td>
        </tr>
        <tr>
            <th>Invoice Date</th>
            <td>{{ invoice.invoice_date }}</td>
        </tr>
        <tr>
            <th>Paid?</th>
            <td>{{ invoice.paid|yesno }}</td>
        </tr>
        <tr>
            <th>Payment Type</th>
            <td>{{ invoice.payment_type }}</td>
        </tr>
        <tr>
            <th>Items</th>
            <td>
                {% for item in invoice.items.all %}
                {{ item }}<br/>
                {% endfor %}
            </td>
        </tr>
    </table><br/>
{% endfor %}





{% if error %}

No Attendee information found for attendee with ID {{ id }}

{% endif %}


{% endblock %}








