{% extends 'base.html' %}

{% block content %}

{% if form %}
<div class="centered-text">
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Get Attendees" id="submit">
    </form>
</div>
{% endif %}


{% if year %}
    <div class="centered-text">
        <h2>Attendees for {{ year }}</h2>
    </div>
{% endif %}



<table border="1px solid" class="centered_list">
    <tr>
        <th>Name</th>
        <th>Table Assignment</th>
        <th>Bid Number</th>
    </tr>
{% for attendee in attendees %}
    <tr>
        <td>
            <a href="{% url 'attendee_info' attendee.id %}">{{ attendee.first_name }} {{ attendee.last_name }}</a><br/>
        </td>
        <td>
            {{ attendee.table_assignment }}
        </td>
        <td>
            {{ attendee.bid_number }}
        </td>
        <td><div id="hi" class="confirm">
            <a href="{% url 'update_attendee' attendee.id %}"><button type="button" id="submit">Update</button></a>
            </div>
        </td>
        <td><div class="confirm">
            <a href="{% url 'delete_attendee' attendee.id %}"><button type="button" id="submit">Delete</button></a>
            </div>
        </td>
    </tr>
{% endfor %}
</table>



<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript" >
  $('#hi').click(function() {
    if (confirm('Are you sure?')) {
      var url = $(this).attr('href');
      $(this).load(url);
    }
  });
</script>

{% endblock %}
