{% extends 'base.html' %}

{% block content %}

<form action="{% url 'update_attendee' attendee.id %}" method="get">
    {% csrf_token %}

    <table border="1px solid">
        <tr>
            <th>Record ID:</th>
            <td>{{ attendee.id }}</td>
        </tr>
        <tr>
            <th>First Name:</th>
            <td>{{ attendee.first_name }}</td>
        </tr>
        <tr>
            <th>Last Name:</th>
            <td>{{ attendee.last_name }}</td>
        </tr>
        <tr>
            <th>Table Assignment:</th>
            <td>{{ attendee.table_assignment }}</td>
        </tr>
        <tr>
            <th>Bid Number:</th>
            <td>{{ attendee.bid_number }}</td>
        </tr>
        <tr>
            <th>Phone:</th>
            <td>{{ attendee.phone }}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{{ attendee.email }}</td>
        </tr>
        <tr>
            <th>Invoice</th>
            <td><a href="{% url 'invoice_info' attendee.invoice.id %}">{{ attendee.invoice }}</a></td>
        </tr>
        <tr>
            <th>Invoice Items</th>
            <td>{% for item in attendee.invoice.items.all %}
                {{ item }}<br/>
                {% endfor %}
            </td>
        </tr>

    </table>

    <input type="hidden" value="{{ attendee }}" name="attendee"/>
    <input type="submit" value="Update Attendee" name="update_attendee" id="submit" />
</form>




{% if error %}

No Attendee information found for attendee with ID {{ id }}

{% endif %}


{% endblock %}








