{% extends 'base.html' %}

{% block content %}


{% if form %}
<form action="" method="post">
{% csrf_token %}
    {{ form.table_assignment }}
<input type="submit" value="Search for this table"/>
</form>
{% endif %}

<table border="1px solid" class="centered_list">
    <tr>
        <th>Record Id</th>
        <th>Name</th>
        <th>Table Assignment</th>
        <th>Bid Number</th>
    </tr>
{% for attendee in attendees %}
    <tr>
        <td>{{ attendee.id }}</td>
        <td>
            <a href="{% url 'attendee_info' attendee.id %}">{{ attendee.first_name }} {{ attendee.last_name }}</a><br/>
        </td>
        <td>
            {{ attendee.table_assignment }}
        </td>
        <td>
            {{ attendee.bid_number }}
        </td>
        <td>
            <form method="post" action="{% url 'add_attendee' %}">
                {% csrf_token %}
                <input type="hidden" name="table_assignment" value="{{ attendee.table_assignment }}"/>
                <input type="submit" value="Add attendee to table"/>
            </form>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
