<div class="noPrint">
    {% if invoice.merged_invoice %}
        **** Note: This invoice has been merged with another invoice. View the merged invoices <a href="{% url 'merged_invoice_info' invoice.merged_invoice_id %}">here</a> ****
    {% endif %}
</div>

<div class="invoice-header">
<div class="logo">
    <img src="{{ STATIC_URL}}wcvlogo.png" />
</div>

<div class="invoice-date">
    Annual Auction {{ invoice.year }}<br/>
    {{ invoice.invoice_date }}
</div>
</div>


<div class="invoice-body">
    <div class="invoice-number">
        Invoice Number: {{ invoice.id }}
    </div>

    <div class="bidder-info">
        Bid Number: {{ invoice.attendee.bid_number }}<br/>
        Bidder Name: {{ invoice.attendee }}<br/>
        Bidder Table: {{ invoice.attendee.table_assignment }}<br/>
    </div>

    <div class="item-list-header">
        <div class="item-number-header">
            Item Number
        </div>
        <div class="item-description-header">
            Item Description
        </div>
        <div class="item-price-header">
            Price
        </div>
    </div>
    <br/>
    <div class="item-list-container">
        {% for item in invoice.items.all %}

        <div class="item-number">
            {{ item.item_number }}
        </div>

        <div class="item-description">
            <a href="{% url 'item_info' item.id %}" style="color: black">{{ item.description }}</a>
        </div>

        <div class="item-price">
            {{ item.selling_price }}
        </div>
        <br/>

        {% endfor %}
        <br/>
    </div>

        <div class="invoice-total">
            Invoice Total
            ${{ invoice.total_amount }}
        </div>


        <div class="invoiced-to">
            Sold to:
            {{ invoice.paid_for_by }}
        </div>

        <br/><br/><br/>

        <div class="payment-method">
            Payment Method:  {{ invoice.payment_type }}
        </div>

        <br/><br/><br/>
        <div class="thank-you">
            Thank you for supporting the Wildlife Center of Virginia!
        </div>

</div>




<div class="noPrint">
<form action="{% url 'update_invoice' invoice.id %}" method="get">
    {% csrf_token %}
    <input type="hidden" value="{{ invoice }}" name="invoice"/>
    <input type="submit" value="Update Invoice" name="update_invoice" id="submit" />
</form>
</div>


<!---
    <table border="1px solid">
        <tr>
            <th>Invoice For</th>
            <td>{{ invoice.attendee }}</td>
        </tr>
        <tr>
            <th>Items</th>
            <td>
                {% for item in invoice.items.all %}
                    {{ item }}<br/>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Paid For By:</th>
            <td>{{ invoice.paid_for_by }}</td>
        </tr>
        <tr>
            <th>Total Invoice Amount</th>
            <td>{{ invoice.total_amount}}</td>
        </tr>
        <tr>
            <th>Invoice Date</th>
            <td>{{ invoice.invoice_date }}</td>
        </tr>
        <tr>
            <th>Paid?</th>
            <td>{{ invoice.paid_for_by|yesno:"yes,no" }}</td>
        </tr>
        <tr>
            <th>Payment Type</th>
            <td>{{ invoice.payment_type }}</td>
        </tr>
    </table>
-->


{% if invoice.paid_for_by %}
    <img src="{{ STATIC_URL }}jTxEbrB8c.png" height="150" width="150"/>
{% endif %}


{% if error %}

No Attendee information found for attendee with ID {{ id }}

{% endif %}








