{% extends 'base.html' %}


{% block content %}

{% if form.errors %}
{{ form.errors }}
{{ form.non_field_errors }}
{% endif %}

Item ID: {{ item.id }}<br/>
Description: {{ item.description }}<br/>
Winning Bidder: {{ item.winning_bid_number }}<br/>
Invoice: {{ item.invoice }}<br/>
Retail Value: ${{ item.retail_value }}<br/>
Selling Price: ${{ item.selling_price }}<br/>
Starting Value: ${{ item.starting_value }}<br/>
Increment Amount: ${{ item.increment_amount }}<br/>
<br/>
<a href="{% url 'update_item' item.id%}"><button type="button">Update Item</button></a>


{% endblock %}