{% extends 'base.html' %}


{% block content %}

{% if form %}
<div class="centered-text">
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Get Items" id="submit">
    </form>
</div>
{% endif %}

{% if year %}
    <div class="centered-text">
        <h2>Items for {{ year }}</h2>
    </div>
{% endif %}


<table border="1px solid" class="centered_list">
    <tr>
        <th>Item Number</th>
        <th>Item Description</th>
        <th>Winnning Bid Number</th>
        <th>Invoice</th>
        <th>Retail Price</th>
        <th>Selling Price</th>
        <th>Starting Value</th>
        <th>Increment Amount</th>
    </tr>

    {% for item in auction_items %}

    <tr>
        <td><a href="{% url 'item_info' item.id %}">{{ item.item_number }}</a></td>
        <td>{% if item.description %}{{ item.description }}{% else %}No Description{% endif %}</td>
        <td>{{ item.winning_bid_number }}</td>
        <td>{% if item.invoice %}<a href="{% url 'invoice_info' item.invoice.id %}">{{ item.invoice }}</a>{% else %}{{ item.invoice }}{% endif %}</td>
        <td>{% if item.retail_value %}${{ item.retail_value }}{% else %}No Info{% endif %}</td>
        <td>{% if item.selling_price %}${{ item.selling_price }}{% else %}No Info{% endif %}</td>
        <td>{% if item.starting_value %}${{ item.starting_value }}{% else %}No Info{% endif %}</td>
        <td>{% if item.increment_amount %}${{ item.increment_amount }}{% else %}No Info{% endif %}</td>
        <td><a href="{% url 'update_item' item.id %}"><button type="button" id="submit" >Update</button></a></td>
        <td><a href="{% url 'delete_item' item.id %}"><button type="button" id="submit" >Delete</button></a></td>
    </tr>
{% endfor %}


</table>


{% endblock %}