{% load staticfiles %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css"/>
</head>
<title>{% block title %}{% endblock %}
</title>
<body>
    <div id="nav">
        {% block header_nav %}
        <center>
            {% if user.is_authenticated %}
            <a href="{% url 'home' %}">Home</a><br/>
            <a href="{% url 'attendee_list' %}">View Attendee List</a><br/>
            <a href="{% url 'add_attendee' %}">Add Attendee</a><br/>
            <a href="{% url 'item_list' %}">View Item List</a><br/>
            <a href="{% url 'add_item' %}">Add Auction Item</a><br/>
                    <form id="logout_form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input type="submit" value="log out" />
                    </form>
            {% endif %}
        <br/>
        </center>
        {% endblock %}
    </div>



<br/>

    {% block content %}{% endblock %}
</body>

</html>