{% load staticfiles %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css"/>
</head>
<title>{% block title %}{% endblock %}
</title>
<body>
    <div id="nav">
        {% block header_nav %}
        <center>
            {% if user.is_authenticated %}
            <a href="{% url 'home' %}">Home</a><br/>
            <table class="centered_list">
                <tr>
                    <td>
                        <a href="{% url 'attendee_list' %}">View Attendee List</a>
                    </td>
                    <td>
                        <a href="{% url 'item_list' %}">View Item List</a>
                    </td>
                    <td>
                        <a href="{% url 'invoice_list' %}">View Invoice List</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'add_attendee' %}">Add Attendee</a>
                    </td>
                    <td>
                        <a href="{% url 'add_item' %}">Add Auction Item</a>
                    </td>
                    <td>
                        <a href="{% url 'add_invoice' %}">Add Invoice</a>
                    </td>
                </tr>
            </table>
                    <form id="logout_form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input type="submit" value="log out" />
                    </form>
            {% endif %}
        <br/>
        </center>
        {% endblock %}
    </div>


{% if messages %}
    <div id="django_messages">
        <h3>
        {% for message in messages %}
            {% if message.tags %}{% endif %}
            {{ message }}
        {% endfor %}
        </h3>
    </div>
{% endif %}
<br/>

    {% block content %}{% endblock %}
</body>

</html>