{% extends 'base.html' %}
{% block content%}

{% if form.errors %}
        Looks like something's wrong with your username/password. Please try again.
{% endif %}

        <form id="login_form" method="post" action="">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>





{% endblock %}




















































