{% extends 'base.html' %}
{% block content%}

{% if form.errors %}
        Looks like something's wrong with your username/password. Please try again.
{% endif %}

<img src="{{ STATIC_URL}}wcvlogo.png"/>
<br/><br/><br/>
Please enter your username and password to access the Wildlife Center of Virginia's Auction Management system.<br/><br/>

        <form id="login_form" method="post" action="">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="Log in" />
        </form>





{% endblock %}




















































